body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background-image: linear-gradient(
    to right top,
    #b14481,
    #a64b92,
    #9853a1,
    #855cae,
    #6d64b8,
    #5773c5,
    #3b80cf,
    #008dd5,
    #00a2dd,
    #00b6de,
    #00c9d9,
    #30dad0
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  margin-bottom: 20px;
  font-weight: 700;
}
